.full,
.half,
.quarter{
    margin: 0;
    padding: 0;
}

.full{
    height: 100vh;
    widht: 100vw;
}

.half{
    height: 100vh;
    width: 50vw;
}

.half-inline{
    width: 50vw;
}

.half-block{
    height: 100vh;
}

.quarter{
    heigth: 50vh;
    width: 50vw;
}

.btn-home{
    height: 3rem;
    width: 20rem;
}